.panel.panel-default.arrow.left
  .panel-body
    %header.text-left
      .comment-user
        %i.fa.fa-user
        = comment.commenter
    .comment-post
      %p
        \:
        \#{comment.body}
    %p
      - if can? :manage, comment
        = link_to 'Destroy Comment', [comment.article, comment], |
          method: :delete,                                       |
          data: { confirm: 'Are you sure?' }                     |
          