// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.add-article-container {
 	background-color:white;
 	color:white;
 	padding:20px;
 	text-align:center;
}

.add-article-title {
 	background-color:black;
 	color:red;
 	padding:20px;
 	
}

